
body{
font-family: Arial;
background:#f0f2f5;
margin:0;
}

header{
background:#1877f2;
color:white;
padding:15px;
font-size:20px;
}

.post{
background:white;
padding:15px;
margin:20px auto;
width:500px;
border-radius:10px;
box-shadow:0 0 5px rgba(0,0,0,0.2);
}

textarea{
width:100%;
height:60px;
}

button{
background:#1877f2;
color:white;
border:none;
padding:8px 12px;
border-radius:5px;
cursor:pointer;
}
